{{>headerandSideBar}}
<div class="content">
    <div class="container-fluid">
        {{>headerStats}}
        {{!-- To be Partialized --}}
        <div class="container">
        <div class="row">
                    <ul class="nav nav-pills nav-pills-icons " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'"><strong>/S/</strong></h1> s
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/A/</h1> a
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/T/</h1> t
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/I/</h1> i
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/P/</h1> p
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/N/</h1> n
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/K/</h1> k
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/E/</h1> e
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/H/</h1> h
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/R/</h1> r
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/M/</h1> m
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/D/</h1> d
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/G/</h1> g
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#favorite" role="tab" data-toggle="tab">
                               <h1 style="font-size: 42px" "font-family:'Courier New'">/O/</h1> o
                            </a>
                        </li>
                    </ul>
        </div>
        </div>
        {{!-- To be Partialized --}}
    </div>
</div>
{{>homeFooter}}
</div>{{!-- Closure of Main-Panel Class from headerandSideBarPartial --}}
</div>{{!-- Closure of Wrapper Class from headerandSideBarPartial --}}
{{!-- {{>hoveringPlugin}} --}}
{{>homeJSFiles}}
</body>{{!-- Body tag Starts in headerandSideBar Partial --}}

</html>{{!-- HTML tag Starts in headerandSideBar Partial --}}