{{>headerandSideBar}}

<div class="content">
    <div class="container-fluid">
        <div class="mb-5 row align-items-center justify-content-center">
                <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">MODULE {{gameLevel}}</h2>
        </div>
        {{>allSubModulesListed subModulesList=subModulesList gameLevel=gameLevel}}
    </div>
</div>
{{>homeFooter}}
</div>{{!-- Closure of Main-Panel Class from headerandSideBarPartial --}}
</div>{{!-- Closure of Wrapper Class from headerandSideBarPartial --}}
{{!-- {{>hoveringPlugin}} --}}
{{>homeJSFiles}}
</body>{{!-- Body tag Starts in headerandSideBar Partial --}}

</html>{{!-- HTML tag Starts in headerandSideBar Partial --}}