         <div id="allModulesListed" value={{patient.currentLevel.levelId}}>
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\1.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                    <a href="level/1"><button id="level1" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\2.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                   <a href="level/2"><button id="level2" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\3.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                    <a href="level/3"><button id="level3" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\4.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                    <a href="level/4"><button id="level4" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
            <div class="col-md-4">
              <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="..\assets\img\levels\5.png" rel="nofollow" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Description about the Module.</p>
                      <a href="level/5"><button id="level5" class="btn btn-primary" disabled>Started</button> </a>
                  </div>
                </div>              
              </div>            
            </div>
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\6.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                    <a href="level/6"><button id="level6" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\7.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                    <a href="level/7"><button id="level7" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..\assets\img\levels\8.png" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Description about the Module.</p>
                    <a href="level/8"><button id="level8" class="btn btn-primary" disabled>Started</button> </a>
                </div>
              </div>              
            </div>
          </div>
        </div>