      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            {{!-- <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul> --}}
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>Developed<i class="material-icons"></i> by
            <a href="https://www.iitd.ac.in" target="_blank"> Neurocomputing Lab</a> IIT Delhi
          </div>
        </div>
      </footer>